services:
  cloud:
    build: ./cloud
    restart: always
    expose:
      - "80"
    depends_on:
      - mongo
      - redis

  api:
    build: ./api
    restart: always
    expose:
      - "80"
    depends_on:
      - cloud

  web:
    build:
      context: ./interface
      dockerfile: web/Dockerfile
    restart: always
    expose:
      - "80"
    depends_on:
      - api

  mongo:
    image: mongo:8
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo:/data/db

  redis:
    image: redis:8
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis:/data

  nginx:
    image: nginx:1
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/nginx:/etc/nginx/conf.d
      - ./config/nginx/ssl/certs:/etc/ssl/certs/
      - ./config/nginx/ssl/private:/etc/ssl/private
    depends_on:
      - api
      - cloud
      - web

volumes:
  mongo:
  redis:
