/* Copyright © Spatial Corporation. All rights reserved. */

@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-*: initial;

  --color-black: #000000;
  --color-smoke: #d9d9d9;
  --color-white: #ffffff;

  --color-gray-1: #e6e6e6;
  --color-gray-2: #cccccc;
  --color-gray-3: #a3a3a3;
  --color-gray-4: #808080;
  --color-gray-5: #666666;
  --color-gray-6: #4d4d4d;
  --color-gray-7: #333333;
  --color-gray-8: #1a1a1a;
  --color-gray-9: #0d0d0d;

  --color-blue: #0364ff;
  --color-lime: #bbe022;
  --color-red: #ff4f2c;
  --color-cyan: #00d6c6;
  --color-yellow: #fcc924;
  --color-magenta: #e16ef9;

  --color-background-base: var(--color-black);
  --color-background-surface: var(--color-gray-8);
  --color-background-subtle: var(--color-gray-9);
  --color-background-highlight: var(--color-gray-7);

  --color-foreground-primary: var(--color-white);
  --color-foreground-secondary: --alpha(var(--color-white) / 70%);
  --color-foreground-tertiary: --alpha(var(--color-white) / 50%);
  --color-foreground-inverse: var(--color-black);
  --color-foreground-accent: var(--color-blue);

  --color-hint: --alpha(var(--color-white) / 40%);

  --color-line-subtle: --alpha(var(--color-white) / 10%);
  --color-line-base: --alpha(var(--color-white) / 20%);
  --color-line-strong: --alpha(var(--color-white) / 50%);
  --color-line-accent: var(--color-blue);
  --color-line-input-focus: var(--color-blue);

  --color-button-primary: var(--color-blue);
  --color-button-primary-hover: #0055e0;
  --color-button-primary-active: #0045c0;

  --color-button-secondary: --alpha(var(--color-white) / 10%);
  --color-button-secondary-hover: --alpha(var(--color-white) / 20%);
  --color-button-secondary-active: --alpha(var(--color-white) / 30%);

  --color-button-ghost: transparent;
  --color-button-ghost-hover: --alpha(var(--color-white) / 10%);
  --color-button-ghost-active: --alpha(var(--color-white) / 20%);

  --color-button-destructive: var(--color-red);
  --color-button-destructive-hover: #e63e1e;
  --color-button-destructive-active: #cc2e10;

  --color-input: --alpha(var(--color-white) / 5%);

  --color-overlay-base: --alpha(var(--color-black) / 70%);
  --color-overlay-hover: --alpha(var(--color-blue) / 20%);

  --color-state-success: var(--color-lime);
  --color-state-error: var(--color-red);
  --color-state-warning: var(--color-yellow);
  --color-state-information: var(--color-cyan);
  --color-state-accent: var(--color-blue);

  --color-status-online: var(--color-lime);
  --color-status-offline: var(--color-gray-5);
  --color-status-busy: var(--color-red);
  --color-status-idle: var(--color-yellow);

  --font-sans: "Manrope Variable", sans-serif;

  --text-display: 16rem;
  --text-display--line-height: 1;

  --shadow-base: 0 4px 20px rgba(0, 0, 0, 0.4);
  --shadow-accent: 0 0 0 2px --alpha(var(--color-blue) / 60%);
}

@layer base {
  * {
    outline: none;
    box-shadow: none;
  }

  .material-symbols-outlined {
    font-family: "Material Symbols Outlined Variable";
    font-weight: 200;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  .material-symbols-outlined.fill {
    font-variation-settings: "FILL" 1;
  }
}
