/* Copyright © Spatial Corporation. All rights reserved. */

@import "tailwindcss";
@import "tw-animate-css";

:root {
  --layout-pad: 40px;
}

@theme inline {
  --color-*: initial;

  --color-black: #0a0a0a;
  --color-smoke: #d9d9d9;
  --color-white: #ffffff;

  --color-gray-1: #e6e6e6;
  --color-gray-2: #cccccc;
  --color-gray-3: #a3a3a3;
  --color-gray-4: #808080;
  --color-gray-5: #666666;
  --color-gray-6: #4d4d4d;
  --color-gray-7: #333333;
  --color-gray-8: #161616;
  --color-gray-9: #101010;

  --color-blue: #0364ff;
  --color-lime: #bbe022;
  --color-red: #ff4f2c;
  --color-cyan: #00d6c6;
  --color-yellow: #fcc924;
  --color-magenta: #e16ef9;
  --color-purple: #8534f3;
  --color-green: #38c760;

  --color-translucent: --alpha(var(--color-white) / 10%);

  --color-background-base: var(--color-black);
  --color-background-surface: var(--color-gray-8);
  --color-background-subtle: var(--color-gray-9);
  --color-background-highlight: var(--color-gray-7);
  --color-background-inverse: var(--color-white);

  --color-foreground-primary: var(--color-white);
  --color-foreground-secondary: --alpha(var(--color-white) / 70%);
  --color-foreground-tertiary: --alpha(var(--color-white) / 50%);
  --color-foreground-quaternary: --alpha(var(--color-white) / 40%);
  --color-foreground-inverse: var(--color-black);
  --color-foreground-accent: var(--color-blue);

  --color-hint: --alpha(var(--color-white) / 40%);

  --color-line-subtle: var(--color-translucent);
  --color-line-faint: --alpha(var(--color-white) / 12%);
  --color-line-base: --alpha(var(--color-white) / 20%);
  --color-line-strong: --alpha(var(--color-white) / 50%);
  --color-line-accent: var(--color-blue);
  --color-line-input-focus: var(--color-blue);

  --color-button: var(--color-translucent);
  --color-button-hover: --alpha(var(--color-white) / 20%);
  --color-button-active: --alpha(var(--color-white) / 30%);

  --color-button-destructive: var(--color-red);
  --color-button-destructive-hover: #e63e1e;
  --color-button-destructive-active: #cc2e10;

  --color-button-ghost: transparent;
  --color-button-ghost-hover: var(--color-translucent);
  --color-button-ghost-active: --alpha(var(--color-white) / 20%);

  --color-button-highlight: var(--color-blue);
  --color-button-highlight-hover: #0055e0;
  --color-button-highlight-active: #0045c0;

  --color-input: --alpha(var(--color-white) / 7.5%);

  --color-overlay-base: --alpha(var(--color-black) / 70%);
  --color-overlay-hover: --alpha(var(--color-blue) / 20%);

  --color-state-success: var(--color-purple);
  --color-state-error: var(--color-red);
  --color-state-warning: var(--color-yellow);
  --color-state-information: var(--color-cyan);
  --color-state-accent: var(--color-blue);

  --color-status-online: var(--color-lime);
  --color-status-offline: var(--color-gray-5);
  --color-status-busy: var(--color-red);
  --color-status-idle: var(--color-yellow);

  --font-sans: "Manrope Variable", sans-serif;

  --text-display: 16rem;
  --text-display--line-height: 1;

  --shadow-base: 0 4px 20px rgba(0, 0, 0, 0.4);
  --shadow-accent: 0 0 0 2px --alpha(var(--color-blue) / 60%);

  --animate-fill: fill 0.1s ease forwards;
  --animate-outline: outline 0.1s ease forwards;
  --animate-caret: caret 1.25s ease-out infinite;

  @keyframes fill {
    0% {
      font-variation-settings: "FILL" 0;
    }
    100% {
      font-variation-settings: "FILL" 1;
    }
  }

  @keyframes outline {
    0% {
      font-variation-settings: "FILL" 1;
    }
    100% {
      font-variation-settings: "FILL" 0;
    }
  }

  @keyframes caret {
    0%,
    70%,
    to {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes ticker-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  * {
    outline: none;
    box-shadow: none;
  }

  .material-symbols-rounded {
    font-family: "Material Symbols Rounded Variable";
    font-weight: 200;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  .sonner-loader {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  html.error {
    @apply bg-state-error!;
  }

  .ticker-track {
    animation: ticker-scroll 30s linear infinite;
  }

  body {
    overscroll-behavior: none;
    touch-action: pan-y;
  }
}

@utility fill {
  font-variation-settings: "FILL" 1;
}

@utility bg-grid {
  background-image: radial-gradient(circle, var(--color-line-faint) 1px, transparent 1px);
  background-size: 16px 16px;
}
