/* Copyright © Spatial Corporation. All rights reserved. */

@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@300;400;700&display=swap");
@import "tailwindcss";

:root {
  --color-base-transparent: oklch(1 0 0 / 0%);

  --color-base-neutral-0: oklch(0.9674 0.0013 286.37);
  --color-base-neutral-1: oklch(0.9197 0.004 286.32);
  --color-base-neutral-2: oklch(0.8711 0.0055 286.29);
  --color-base-neutral-3: oklch(0.7118 0.0129 286.07);
  --color-base-neutral-4: oklch(0.5517 0.0138 285.94);
  --color-base-neutral-5: oklch(0.4419 0.0146 285.79);
  --color-base-neutral-6: oklch(0.3703 0.0119 285.81);
  --color-base-neutral-7: oklch(0.2739 0.0055 286.03);
  --color-base-neutral-8: oklch(0.2435 0 0);
  --color-base-neutral-9: oklch(0.1957 0 0);

  --color-base-blue-0: oklch(0.8997 0.0486 260.89);
  --color-base-blue-1: oklch(0.801 0.100258 260.6146);
  --color-base-blue-2: oklch(0.7086 0.1525 259.8);
  --color-base-blue-3: oklch(0.6269 0.2015 259.53);
  --color-base-blue-4: oklch(0.56 0.242861 261.2057);
  --color-base-blue-5: oklch(0.517 0.225303 261.1346);
  --color-base-blue-6: oklch(0.4743 0.2047 260.98);
  --color-base-blue-7: oklch(0.4296 0.1861 261.04);
  --color-base-blue-8: oklch(0.3848 0.1645 260.82);
  --color-base-blue-9: oklch(0.3397 0.1434 260.62);

  --color-base-green-0: oklch(0.9574 0.0487 151.63);
  --color-base-green-1: oklch(0.8915 0.0964 151.11);
  --color-base-green-2: oklch(0.8119 0.154 150.05);
  --color-base-green-3: oklch(0.7257 0.1643 149.45);
  --color-base-green-4: oklch(0.6343 0.162 148.39);
  --color-base-green-5: oklch(0.5244 0.1401 148.04);
  --color-base-green-6: oklch(0.4391 0.1179 148.07);
  --color-base-green-7: oklch(0.3741 0.1042 148.53);
  --color-base-green-8: oklch(0.3144 0.0881 149.27);
  --color-base-green-9: oklch(0.26 0.0698 151.09);

  --color-base-yellow-0: oklch(0.9721 0.0658 101.01);
  --color-base-yellow-1: oklch(0.9099 0.1235 95.67);
  --color-base-yellow-2: oklch(0.8342 0.1401 91.51);
  --color-base-yellow-3: oklch(0.7498 0.1407 87.06);
  --color-base-yellow-4: oklch(0.6619 0.1374 79.25);
  --color-base-yellow-5: oklch(0.5542 0.1169 75.01);
  --color-base-yellow-6: oklch(0.4665 0.1009 70.18);
  --color-base-yellow-7: oklch(0.3937 0.0852 68.93);
  --color-base-yellow-8: oklch(0.3298 0.0722 68.31);
  --color-base-yellow-9: oklch(0.2803 0.0602 71.49);

  --color-base-orange-0: oklch(0.9659 0.022 63.21);
  --color-base-orange-1: oklch(0.9066 0.0635 63.8);
  --color-base-orange-2: oklch(0.8344 0.1125 59.73);
  --color-base-orange-3: oklch(0.7534 0.1573 52.45);
  --color-base-orange-4: oklch(0.6653 0.1638 48.8);
  --color-base-orange-5: oklch(0.5572 0.160085 44.7195);
  --color-base-orange-6: oklch(0.4657 0.137063 43.3458);
  --color-base-orange-7: oklch(0.3953 0.1146 44.19);
  --color-base-orange-8: oklch(0.3339 0.094867 45.3734);
  --color-base-orange-9: oklch(0.2774 0.0809 43.84);

  --color-base-red-0: oklch(0.9555 0.022 24.44);
  --color-base-red-1: oklch(0.8931 0.0558 22.34);
  --color-base-red-2: oklch(0.822 0.099566 21.7035);
  --color-base-red-3: oklch(0.7463 0.1536 20.96);
  --color-base-red-4: oklch(0.6568 0.217 24.44);
  --color-base-red-5: oklch(0.5517 0.2051 24.53);
  --color-base-red-6: oklch(0.4591 0.1777 21.87);
  --color-base-red-7: oklch(0.387 0.1507 20.77);
  --color-base-red-8: oklch(0.3233 0.129572 18.3696);
  --color-base-red-9: oklch(0.2649 0.1059 14.71);

  --color-base-purple-0: oklch(0.9661 0.0246 317.72);
  --color-base-purple-1: oklch(0.9105 0.0565 308.31);
  --color-base-purple-2: oklch(0.8362 0.1012 304.54);
  --color-base-purple-3: oklch(0.7564 0.1508 301.98);
  --color-base-purple-4: oklch(0.669 0.1902 297.44);
  --color-base-purple-5: oklch(0.5631 0.2069 294.97);
  --color-base-purple-6: oklch(0.4743 0.1908 293.84);
  --color-base-purple-7: oklch(0.4024 0.1668 293.94);
  --color-base-purple-8: oklch(0.3397 0.143 292.95);
  --color-base-purple-9: oklch(0.2834 0.1259 291.68);

  --color-base-black-0: oklch(0.1684 0 0 / 10%);
  --color-base-black-1: oklch(0.1684 0 0 / 20%);
  --color-base-black-2: oklch(0.1684 0 0 / 30%);
  --color-base-black-3: oklch(0.1684 0 0 / 40%);
  --color-base-black-4: oklch(0.1684 0 0 / 50%);
  --color-base-black-5: oklch(0.1684 0 0 / 60%);
  --color-base-black-6: oklch(0.1684 0 0 / 70%);
  --color-base-black-7: oklch(0.1684 0 0 / 80%);
  --color-base-black-8: oklch(0.1684 0 0 / 90%);
  --color-base-black-9: oklch(0.1684 0 0);

  --color-base-white-0: oklch(1 0 0 / 10%);
  --color-base-white-1: oklch(1 0 0 / 20%);
  --color-base-white-2: oklch(1 0 0 / 30%);
  --color-base-white-3: oklch(1 0 0 / 40%);
  --color-base-white-4: oklch(1 0 0 / 50%);
  --color-base-white-5: oklch(1 0 0 / 60%);
  --color-base-white-6: oklch(1 0 0 / 70%);
  --color-base-white-7: oklch(1 0 0 / 80%);
  --color-base-white-8: oklch(1 0 0 / 90%);
  --color-base-white-9: oklch(1 0 0);

  --color-background-primary: var(--color-base-white-9);
  --color-background-secondary: var(--color-base-neutral-0);
  --color-background-tertiary: var(--color-base-neutral-1);
  --color-background-quaternary: var(--color-base-neutral-2);
  --color-background-accent: var(--color-base-blue-4);
  --color-background-overlay: rgba(0, 0, 0, 0.5);

  --color-background-translucent-primary: var(--color-base-black-0);

  --color-background-inverted-primary: var(--color-base-black-9);
  --color-background-inverted-secondary: var(--color-base-neutral-9);
  --color-background-inverted-tertiary: var(--color-base-neutral-8);
  --color-background-inverted-quaternary: var(--color-base-neutral-7);

  --color-background-control-selected-default: var(--color-base-blue-4);
  --color-background-control-selected-hover: var(--color-base-blue-3);
  --color-background-control-selected-focus: var(--color-base-blue-3);
  --color-background-control-selected-active: var(--color-base-blue-3);

  --color-background-interactive-primary-default: var(--color-base-black-9);
  --color-background-interactive-primary-hover: var(--color-base-black-7);
  --color-background-interactive-primary-focus: var(--color-base-black-7);
  --color-background-interactive-primary-active: var(--color-base-black-7);

  --color-background-interactive-secondary-default: var(--color-base-black-0);
  --color-background-interactive-secondary-hover: var(--color-base-black-1);
  --color-background-interactive-secondary-focus: var(--color-base-black-1);
  --color-background-interactive-secondary-active: var(--color-base-black-1);

  --color-background-interactive-tertiary-default: var(--color-base-transparent);
  --color-background-interactive-tertiary-hover: var(--color-base-neutral-0);
  --color-background-interactive-tertiary-focus: var(--color-base-neutral-1);
  --color-background-interactive-tertiary-active: var(--color-base-neutral-1);

  --color-background-interactive-outline-default: var(--color-base-transparent);
  --color-background-interactive-outline-hover: var(--color-background-interactive-primary-default);
  --color-background-interactive-outline-focus: var(--color-background-interactive-primary-focus);
  --color-background-interactive-outline-active: var(--color-background-interactive-primary-active);

  --color-background-interactive-accent-default: var(--color-base-blue-4);
  --color-background-interactive-accent-hover: var(--color-base-blue-3);
  --color-background-interactive-accent-focus: var(--color-base-blue-3);
  --color-background-interactive-accent-active: var(--color-base-blue-3);

  --color-background-interactive-information-default: var(--color-base-black-9);
  --color-background-interactive-information-hover: var(--color-base-black-7);
  --color-background-interactive-information-focus: var(--color-base-black-7);
  --color-background-interactive-information-active: var(--color-base-black-7);

  --color-background-interactive-success-default: var(--color-base-green-5);
  --color-background-interactive-success-hover: var(--color-base-green-4);
  --color-background-interactive-success-focus: var(--color-base-green-4);
  --color-background-interactive-success-active: var(--color-base-green-4);

  --color-background-interactive-attention-default: var(--color-base-yellow-2);
  --color-background-interactive-attention-hover: var(--color-base-yellow-1);
  --color-background-interactive-attention-focus: var(--color-base-yellow-1);
  --color-background-interactive-attention-active: var(--color-base-yellow-1);

  --color-background-interactive-warning-default: var(--color-base-orange-4);
  --color-background-interactive-warning-hover: var(--color-base-orange-3);
  --color-background-interactive-warning-focus: var(--color-base-orange-3);
  --color-background-interactive-warning-active: var(--color-base-orange-3);

  --color-background-interactive-danger-default: var(--color-base-red-5);
  --color-background-interactive-danger-hover: var(--color-base-red-4);
  --color-background-interactive-danger-focus: var(--color-base-red-4);
  --color-background-interactive-danger-active: var(--color-base-red-4);

  --color-background-interactive-done-default: var(--color-base-purple-5);
  --color-background-interactive-done-hover: var(--color-base-purple-4);
  --color-background-interactive-done-focus: var(--color-base-purple-4);
  --color-background-interactive-done-active: var(--color-base-purple-4);

  --color-background-severe-information: var(--color-base-black-9);
  --color-background-severe-success: var(--color-base-green-5);
  --color-background-severe-attention: var(--color-base-yellow-2);
  --color-background-severe-warning: var(--color-base-orange-4);
  --color-background-severe-danger: var(--color-base-red-5);
  --color-background-severe-done: var(--color-base-purple-5);

  --color-foreground-primary: var(--color-base-black-9);
  --color-foreground-secondary: var(--color-base-black-6);
  --color-foreground-tertiary: var(--color-base-black-5);
  --color-foreground-quaternary: var(--color-base-black-4);
  --color-foreground-accent: var(--color-base-blue-4);

  --color-foreground-inverted-primary: var(--color-base-white-9);
  --color-foreground-inverted-secondary: var(--color-base-white-8);
  --color-foreground-inverted-tertiary: var(--color-base-white-7);
  --color-foreground-inverted-quaternary: var(--color-base-white-6);

  --color-foreground-severe-information: var(--color-base-black-9);
  --color-foreground-severe-success: var(--color-base-green-5);
  --color-foreground-severe-attention: var(--color-base-yellow-3);
  --color-foreground-severe-warning: var(--color-base-orange-4);
  --color-foreground-severe-danger: var(--color-base-red-5);
  --color-foreground-severe-done: var(--color-base-purple-5);

  --color-foreground-interactive-default: var(--color-base-blue-4);
  --color-foreground-interactive-hover: var(--color-base-blue-3);
  --color-foreground-interactive-focus: var(--color-base-blue-3);
  --color-foreground-interactive-active: var(--color-base-blue-3);

  --color-border-bounds: var(--color-base-black-1);
  --color-border-divider: var(--color-base-black-1);
  --color-border-accent: var(--color-base-blue-4);

  --color-border-interactive-outline-default: var(--color-base-black-9);
  --color-border-interactive-outline-hover: var(--color-base-black-7);
  --color-border-interactive-outline-focus: var(--color-base-black-6);
  --color-border-interactive-outline-active: var(--color-base-black-6);

  --color-border-control-default: var(--color-base-black-1);
  --color-border-control-hover: var(--color-base-black-3);
  --color-border-control-focus: var(--color-base-blue-3);
  --color-border-control-active: var(--color-base-blue-3);

  --color-border-control-selected-default: var(--color-base-blue-4);
  --color-border-control-selected-hover: var(--color-base-blue-3);
  --color-border-control-selected-focus: var(--color-base-blue-3);
  --color-border-control-selected-active: var(--color-base-blue-3);

  --color-border-severe-information: var(--color-base-black-1);
  --color-border-severe-success: var(--color-base-green-5);
  --color-border-severe-attention: var(--color-base-yellow-4);
  --color-border-severe-warning: var(--color-base-orange-5);
  --color-border-severe-danger: var(--color-base-red-5);
  --color-border-severe-done: var(--color-base-purple-5);
}

[data-theme="dark"] {
  --color-base-transparent: oklch(0 0 0 / 0%);

  --color-base-blue-0: oklch(0.8997 0.0486 260.89);
  --color-base-blue-1: oklch(0.8216 0.0893 260.02);
  --color-base-blue-2: oklch(0.7458 0.1311 259.56);
  --color-base-blue-3: oklch(0.6747 0.1725 259.61);
  --color-base-blue-4: oklch(0.6122 0.210575 259.7038);
  --color-base-blue-5: oklch(0.56 0.242861 261.2057);
  --color-base-blue-6: oklch(0.5069 0.219 261);
  --color-base-blue-7: oklch(0.4526 0.1942 260.89);
  --color-base-blue-8: oklch(0.3967 0.168666 260.7334);
  --color-base-blue-9: oklch(0.3397 0.1434 260.62);

  --color-base-green-0: oklch(0.9072 0.1123 146.34);
  --color-base-green-1: oklch(0.8416 0.1641 145.75);
  --color-base-green-2: oklch(0.7717 0.188 145.48);
  --color-base-green-3: oklch(0.6951 0.1809 145.62);
  --color-base-green-4: oklch(0.6222 0.1661 146.22);
  --color-base-green-5: oklch(0.546 0.1474 146.26);
  --color-base-green-6: oklch(0.4681 0.1231 147.6);
  --color-base-green-7: oklch(0.3894 0.1019 148.43);
  --color-base-green-8: oklch(0.3054 0.0826 149.34);
  --color-base-green-9: oklch(0.2373 0.0584 150.5);

  --color-base-yellow-0: oklch(0.9177 0.0868 92.51);
  --color-base-yellow-1: oklch(0.8574 0.1331 89.95);
  --color-base-yellow-2: oklch(0.7904 0.1386 85.24);
  --color-base-yellow-3: oklch(0.7196 0.1401 79.91);
  --color-base-yellow-4: oklch(0.6438 0.1333 75.9);
  --color-base-yellow-5: oklch(0.5652 0.1184 74.93);
  --color-base-yellow-6: oklch(0.4861 0.1032 69.66);
  --color-base-yellow-7: oklch(0.4063 0.0898 66.98);
  --color-base-yellow-8: oklch(0.3182 0.0719 64.18);
  --color-base-yellow-9: oklch(0.2488 0.0569 62.6);

  --color-base-orange-0: oklch(0.9202 0.0641 73.74);
  --color-base-orange-1: oklch(0.8627 0.1089 71.27);
  --color-base-orange-2: oklch(0.7991 0.1412 60.1);
  --color-base-orange-3: oklch(0.7273 0.1534 52.83);
  --color-base-orange-4: oklch(0.654 0.1582 48.36);
  --color-base-orange-5: oklch(0.5744 0.1483 45.31);
  --color-base-orange-6: oklch(0.491 0.131 43.54);
  --color-base-orange-7: oklch(0.3974 0.1115 42.05);
  --color-base-orange-8: oklch(0.3243 0.0956 41.81);
  --color-base-orange-9: oklch(0.2516 0.0729 44.25);

  --color-base-red-0: oklch(0.9223 0.0397 27.49);
  --color-base-red-1: oklch(0.8651 0.0724 26.01);
  --color-base-red-2: oklch(0.8014 0.1134 25.81);
  --color-base-red-3: oklch(0.7345 0.1626 25.78);
  --color-base-red-4: oklch(0.6651 0.2046 26.96);
  --color-base-red-5: oklch(0.5842 0.2008 28.08);
  --color-base-red-6: oklch(0.5051 0.1826 26.53);
  --color-base-red-7: oklch(0.4179 0.1549 25.96);
  --color-base-red-8: oklch(0.3277 0.1273 25.92);
  --color-base-red-9: oklch(0.257 0.102 28.52);

  --color-base-purple-0: oklch(0.9226 0.047 305.97);
  --color-base-purple-1: oklch(0.8668 0.0845 307.38);
  --color-base-purple-2: oklch(0.8005 0.1275 305.86);
  --color-base-purple-3: oklch(0.7392 0.1626 301.93);
  --color-base-purple-4: oklch(0.6879 0.1781 298.91);
  --color-base-purple-5: oklch(0.5843 0.2053 295.56);
  --color-base-purple-6: oklch(0.5041 0.2002 293.28);
  --color-base-purple-7: oklch(0.4159 0.1606 294.74);
  --color-base-purple-8: oklch(0.3278 0.1329 294.7);
  --color-base-purple-9: oklch(0.2545 0.1114 292.56);

  --color-background-primary: var(--color-base-black-9);
  --color-background-secondary: var(--color-base-neutral-9);
  --color-background-tertiary: var(--color-base-neutral-8);
  --color-background-quaternary: var(--color-base-neutral-7);
  --color-background-accent: var(--color-base-blue-5);

  --color-background-translucent-primary: var(--color-base-white-0);

  --color-background-inverted-primary: var(--color-base-white-9);
  --color-background-inverted-secondary: var(--color-base-neutral-0);
  --color-background-inverted-tertiary: var(--color-base-neutral-1);
  --color-background-inverted-quaternary: var(--color-base-neutral-2);

  --color-background-control-selected-default: var(--color-base-blue-5);
  --color-background-control-selected-hover: var(--color-base-blue-4);
  --color-background-control-selected-focus: var(--color-base-blue-4);
  --color-background-control-selected-active: var(--color-base-blue-4);

  --color-background-interactive-primary-default: var(--color-base-white-9);
  --color-background-interactive-primary-hover: var(--color-base-white-7);
  --color-background-interactive-primary-focus: var(--color-base-white-7);
  --color-background-interactive-primary-active: var(--color-base-white-7);

  --color-background-interactive-secondary-default: var(--color-base-white-0);
  --color-background-interactive-secondary-hover: var(--color-base-white-1);
  --color-background-interactive-secondary-focus: var(--color-base-white-1);
  --color-background-interactive-secondary-active: var(--color-base-white-1);

  --color-background-interactive-tertiary-default: var(--color-base-transparent);
  --color-background-interactive-tertiary-hover: var(--color-base-neutral-9);
  --color-background-interactive-tertiary-focus: var(--color-base-neutral-8);
  --color-background-interactive-tertiary-active: var(--color-base-neutral-8);

  --color-background-interactive-accent-default: var(--color-base-blue-5);
  --color-background-interactive-accent-hover: var(--color-base-blue-4);
  --color-background-interactive-accent-focus: var(--color-base-blue-4);
  --color-background-interactive-accent-active: var(--color-base-blue-4);

  --color-background-interactive-information-default: var(--color-base-white-9);
  --color-background-interactive-information-hover: var(--color-base-white-7);
  --color-background-interactive-information-focus: var(--color-base-white-7);
  --color-background-interactive-information-active: var(--color-base-white-7);

  --color-background-severe-information: var(--color-base-white-9);

  --color-foreground-primary: var(--color-base-white-9);
  --color-foreground-secondary: var(--color-base-white-6);
  --color-foreground-tertiary: var(--color-base-white-5);
  --color-foreground-quaternary: var(--color-base-white-4);
  --color-foreground-accent: var(--color-base-blue-5);

  --color-foreground-inverted-primary: var(--color-base-black-9);
  --color-foreground-inverted-secondary: var(--color-base-black-8);
  --color-foreground-inverted-tertiary: var(--color-base-black-7);
  --color-foreground-inverted-quaternary: var(--color-base-black-6);

  --color-foreground-severe-information: var(--color-base-white-9);
  --color-foreground-severe-success: var(--color-base-green-2);
  --color-foreground-severe-attention: var(--color-base-yellow-2);
  --color-foreground-severe-warning: var(--color-base-orange-2);
  --color-foreground-severe-danger: var(--color-base-red-3);
  --color-foreground-severe-done: var(--color-base-purple-3);

  --color-foreground-interactive-default: var(--color-base-blue-5);
  --color-foreground-interactive-hover: var(--color-base-blue-4);
  --color-foreground-interactive-focus: var(--color-base-blue-4);
  --color-foreground-interactive-active: var(--color-base-blue-4);

  --color-border-bounds: var(--color-base-white-1);
  --color-border-divider: var(--color-base-white-1);
  --color-border-accent: var(--color-base-blue-5);

  --color-border-interactive-outline-default: var(--color-base-white-9);
  --color-border-interactive-outline-hover: var(--color-base-white-7);
  --color-border-interactive-outline-focus: var(--color-base-white-6);
  --color-border-interactive-outline-active: var(--color-base-white-6);

  --color-border-control-default: var(--color-base-white-1);
  --color-border-control-hover: var(--color-base-white-3);
  --color-border-control-focus: var(--color-base-blue-4);
  --color-border-control-active: var(--color-base-blue-4);

  --color-border-control-selected-default: var(--color-base-blue-5);
  --color-border-control-selected-hover: var(--color-base-blue-4);
  --color-border-control-selected-focus: var(--color-base-blue-4);
  --color-border-control-selected-active: var(--color-base-blue-4);

  --color-border-severe-information: var(--color-base-white-1);
  --color-border-severe-success: var(--color-base-green-4);
  --color-border-severe-attention: var(--color-base-yellow-2);
  --color-border-severe-warning: var(--color-base-orange-4);
  --color-border-severe-danger: var(--color-base-red-4);
  --color-border-severe-done: var(--color-base-purple-4);
}

@theme inline {
  --*: initial;

  --color-base-transparent: var(--color-base-transparent);

  --color-base-neutral-0: var(--color-base-neutral-0);
  --color-base-neutral-1: var(--color-base-neutral-1);
  --color-base-neutral-2: var(--color-base-neutral-2);
  --color-base-neutral-3: var(--color-base-neutral-3);
  --color-base-neutral-4: var(--color-base-neutral-4);
  --color-base-neutral-5: var(--color-base-neutral-5);
  --color-base-neutral-6: var(--color-base-neutral-6);
  --color-base-neutral-7: var(--color-base-neutral-7);
  --color-base-neutral-8: var(--color-base-neutral-8);
  --color-base-neutral-9: var(--color-base-neutral-9);

  --color-base-blue-0: var(--color-base-blue-0);
  --color-base-blue-1: var(--color-base-blue-1);
  --color-base-blue-2: var(--color-base-blue-2);
  --color-base-blue-3: var(--color-base-blue-3);
  --color-base-blue-4: var(--color-base-blue-4);
  --color-base-blue-5: var(--color-base-blue-5);
  --color-base-blue-6: var(--color-base-blue-6);
  --color-base-blue-7: var(--color-base-blue-7);
  --color-base-blue-8: var(--color-base-blue-8);
  --color-base-blue-9: var(--color-base-blue-9);

  --color-base-green-0: var(--color-base-green-0);
  --color-base-green-1: var(--color-base-green-1);
  --color-base-green-2: var(--color-base-green-2);
  --color-base-green-3: var(--color-base-green-3);
  --color-base-green-4: var(--color-base-green-4);
  --color-base-green-5: var(--color-base-green-5);
  --color-base-green-6: var(--color-base-green-6);
  --color-base-green-7: var(--color-base-green-7);
  --color-base-green-8: var(--color-base-green-8);
  --color-base-green-9: var(--color-base-green-9);

  --color-base-yellow-0: var(--color-base-yellow-0);
  --color-base-yellow-1: var(--color-base-yellow-1);
  --color-base-yellow-2: var(--color-base-yellow-2);
  --color-base-yellow-3: var(--color-base-yellow-3);
  --color-base-yellow-4: var(--color-base-yellow-4);
  --color-base-yellow-5: var(--color-base-yellow-5);
  --color-base-yellow-6: var(--color-base-yellow-6);
  --color-base-yellow-7: var(--color-base-yellow-7);
  --color-base-yellow-8: var(--color-base-yellow-8);
  --color-base-yellow-9: var(--color-base-yellow-9);

  --color-base-orange-0: var(--color-base-orange-0);
  --color-base-orange-1: var(--color-base-orange-1);
  --color-base-orange-2: var(--color-base-orange-2);
  --color-base-orange-3: var(--color-base-orange-3);
  --color-base-orange-4: var(--color-base-orange-4);
  --color-base-orange-5: var(--color-base-orange-5);
  --color-base-orange-6: var(--color-base-orange-6);
  --color-base-orange-7: var(--color-base-orange-7);
  --color-base-orange-8: var(--color-base-orange-8);
  --color-base-orange-9: var(--color-base-orange-9);

  --color-base-red-0: var(--color-base-red-0);
  --color-base-red-1: var(--color-base-red-1);
  --color-base-red-2: var(--color-base-red-2);
  --color-base-red-3: var(--color-base-red-3);
  --color-base-red-4: var(--color-base-red-4);
  --color-base-red-5: var(--color-base-red-5);
  --color-base-red-6: var(--color-base-red-6);
  --color-base-red-7: var(--color-base-red-7);
  --color-base-red-8: var(--color-base-red-8);
  --color-base-red-9: var(--color-base-red-9);

  --color-base-purple-0: var(--color-base-purple-0);
  --color-base-purple-1: var(--color-base-purple-1);
  --color-base-purple-2: var(--color-base-purple-2);
  --color-base-purple-3: var(--color-base-purple-3);
  --color-base-purple-4: var(--color-base-purple-4);
  --color-base-purple-5: var(--color-base-purple-5);
  --color-base-purple-6: var(--color-base-purple-6);
  --color-base-purple-7: var(--color-base-purple-7);
  --color-base-purple-8: var(--color-base-purple-8);
  --color-base-purple-9: var(--color-base-purple-9);

  --color-base-black-0: var(--color-base-black-0);
  --color-base-black-1: var(--color-base-black-1);
  --color-base-black-2: var(--color-base-black-2);
  --color-base-black-3: var(--color-base-black-3);
  --color-base-black-4: var(--color-base-black-4);
  --color-base-black-5: var(--color-base-black-5);
  --color-base-black-6: var(--color-base-black-6);
  --color-base-black-7: var(--color-base-black-7);
  --color-base-black-8: var(--color-base-black-8);
  --color-base-black-9: var(--color-base-black-9);

  --color-base-white-0: var(--color-base-white-0);
  --color-base-white-1: var(--color-base-white-1);
  --color-base-white-2: var(--color-base-white-2);
  --color-base-white-3: var(--color-base-white-3);
  --color-base-white-4: var(--color-base-white-4);
  --color-base-white-5: var(--color-base-white-5);
  --color-base-white-6: var(--color-base-white-6);
  --color-base-white-7: var(--color-base-white-7);
  --color-base-white-8: var(--color-base-white-8);
  --color-base-white-9: var(--color-base-white-9);

  --color-transparent: var(--color-base-transparent);
  --color-black: var(--color-base-black-9);
  --color-white: var(--color-base-white-9);

  --color-background-primary: var(--color-background-primary);
  --color-background-secondary: var(--color-background-secondary);
  --color-background-tertiary: var(--color-background-tertiary);
  --color-background-quaternary: var(--color-background-quaternary);
  --color-background-accent: var(--color-background-accent);
  --color-background-overlay: var(--color-background-overlay);

  --color-background-translucent-primary: var(--color-background-translucent-primary);

  --color-background-inverted-primary: var(--color-background-inverted-primary);
  --color-background-inverted-secondary: var(--color-background-inverted-secondary);
  --color-background-inverted-tertiary: var(--color-background-inverted-tertiary);
  --color-background-inverted-quaternary: var(--color-background-inverted-quaternary);

  --color-background-control-selected-default: var(--color-background-control-selected-default);
  --color-background-control-selected-hover: var(--color-background-control-selected-hover);
  --color-background-control-selected-focus: var(--color-background-control-selected-focus);
  --color-background-control-selected-active: var(--color-background-control-selected-active);

  --color-background-interactive-primary-default: var(--color-background-interactive-primary-default);
  --color-background-interactive-primary-hover: var(--color-background-interactive-primary-hover);
  --color-background-interactive-primary-focus: var(--color-background-interactive-primary-focus);
  --color-background-interactive-primary-active: var(--color-background-interactive-primary-active);

  --color-background-interactive-secondary-default: var(--color-background-interactive-secondary-default);
  --color-background-interactive-secondary-hover: var(--color-background-interactive-secondary-hover);
  --color-background-interactive-secondary-focus: var(--color-background-interactive-secondary-focus);
  --color-background-interactive-secondary-active: var(--color-background-interactive-secondary-active);

  --color-background-interactive-tertiary-default: var(--color-background-interactive-tertiary-default);
  --color-background-interactive-tertiary-hover: var(--color-background-interactive-tertiary-hover);
  --color-background-interactive-tertiary-focus: var(--color-background-interactive-tertiary-focus);
  --color-background-interactive-tertiary-active: var(--color-background-interactive-tertiary-active);

  --color-background-interactive-outline-default: var(--color-background-interactive-outline-default);
  --color-background-interactive-outline-hover: var(--color-background-interactive-outline-hover);
  --color-background-interactive-outline-focus: var(--color-background-interactive-outline-focus);
  --color-background-interactive-outline-active: var(--color-background-interactive-outline-active);

  --color-background-interactive-accent-default: var(--color-background-interactive-accent-default);
  --color-background-interactive-accent-hover: var(--color-background-interactive-accent-hover);
  --color-background-interactive-accent-focus: var(--color-background-interactive-accent-focus);
  --color-background-interactive-accent-active: var(--color-background-interactive-accent-active);

  --color-background-interactive-information-default: var(--color-background-interactive-information-default);
  --color-background-interactive-information-hover: var(--color-background-interactive-information-hover);
  --color-background-interactive-information-focus: var(--color-background-interactive-information-focus);
  --color-background-interactive-information-active: var(--color-background-interactive-information-active);

  --color-background-interactive-success-default: var(--color-background-interactive-success-default);
  --color-background-interactive-success-hover: var(--color-background-interactive-success-hover);
  --color-background-interactive-success-focus: var(--color-background-interactive-success-focus);
  --color-background-interactive-success-active: var(--color-background-interactive-success-active);

  --color-background-interactive-attention-default: var(--color-background-interactive-attention-default);
  --color-background-interactive-attention-hover: var(--color-background-interactive-attention-hover);
  --color-background-interactive-attention-focus: var(--color-background-interactive-attention-focus);
  --color-background-interactive-attention-active: var(--color-background-interactive-attention-active);

  --color-background-interactive-warning-default: var(--color-background-interactive-warning-default);
  --color-background-interactive-warning-hover: var(--color-background-interactive-warning-hover);
  --color-background-interactive-warning-focus: var(--color-background-interactive-warning-focus);
  --color-background-interactive-warning-active: var(--color-background-interactive-warning-active);

  --color-background-interactive-danger-default: var(--color-background-interactive-danger-default);
  --color-background-interactive-danger-hover: var(--color-background-interactive-danger-hover);
  --color-background-interactive-danger-focus: var(--color-background-interactive-danger-focus);
  --color-background-interactive-danger-active: var(--color-background-interactive-danger-active);

  --color-background-interactive-done-default: var(--color-background-interactive-done-default);
  --color-background-interactive-done-hover: var(--color-background-interactive-done-hover);
  --color-background-interactive-done-focus: var(--color-background-interactive-done-focus);
  --color-background-interactive-done-active: var(--color-background-interactive-done-active);

  --color-background-severe-information: var(--color-background-severe-information);
  --color-background-severe-success: var(--color-background-severe-success);
  --color-background-severe-attention: var(--color-background-severe-attention);
  --color-background-severe-warning: var(--color-background-severe-warning);
  --color-background-severe-danger: var(--color-background-severe-danger);
  --color-background-severe-done: var(--color-background-severe-done);

  --color-foreground-primary: var(--color-foreground-primary);
  --color-foreground-secondary: var(--color-foreground-secondary);
  --color-foreground-tertiary: var(--color-foreground-tertiary);
  --color-foreground-quaternary: var(--color-foreground-quaternary);
  --color-foreground-accent: var(--color-foreground-accent);

  --color-foreground-inverted-primary: var(--color-foreground-inverted-primary);
  --color-foreground-inverted-secondary: var(--color-foreground-inverted-secondary);
  --color-foreground-inverted-tertiary: var(--color-foreground-inverted-tertiary);
  --color-foreground-inverted-quaternary: var(--color-foreground-inverted-quaternary);

  --color-foreground-severe-information: var(--color-foreground-severe-information);
  --color-foreground-severe-success: var(--color-foreground-severe-success);
  --color-foreground-severe-attention: var(--color-foreground-severe-attention);
  --color-foreground-severe-warning: var(--color-foreground-severe-warning);
  --color-foreground-severe-danger: var(--color-foreground-severe-danger);
  --color-foreground-severe-done: var(--color-foreground-severe-done);

  --color-foreground-interactive-default: var(--color-foreground-interactive-default);
  --color-foreground-interactive-hover: var(--color-foreground-interactive-hover);
  --color-foreground-interactive-focus: var(--color-foreground-interactive-focus);
  --color-foreground-interactive-active: var(--color-foreground-interactive-active);

  --color-border-bounds: var(--color-border-bounds);
  --color-border-divider: var(--color-border-divider);
  --color-border-accent: var(--color-border-accent);

  --color-border-interactive-outline-default: var(--color-border-interactive-outline-default);
  --color-border-interactive-outline-hover: var(--color-border-interactive-outline-hover);
  --color-border-interactive-outline-focus: var(--color-border-interactive-outline-focus);
  --color-border-interactive-outline-active: var(--color-border-interactive-outline-active);

  --color-border-control-default: var(--color-border-control-default);
  --color-border-control-hover: var(--color-border-control-hover);
  --color-border-control-focus: var(--color-border-control-focus);
  --color-border-control-active: var(--color-border-control-active);

  --color-border-control-selected-default: var(--color-border-control-selected-default);
  --color-border-control-selected-hover: var(--color-border-control-selected-hover);
  --color-border-control-selected-focus: var(--color-border-control-selected-focus);
  --color-border-control-selected-active: var(--color-border-control-selected-active);

  --color-border-severe-information: var(--color-border-severe-information);
  --color-border-severe-success: var(--color-border-severe-success);
  --color-border-severe-attention: var(--color-border-severe-attention);
  --color-border-severe-warning: var(--color-border-severe-warning);
  --color-border-severe-danger: var(--color-border-severe-danger);
  --color-border-severe-done: var(--color-border-severe-done);

  --font-sans: "Oxygen", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Oxygen Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --spacing: 0.25rem;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;

  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;

  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  --inset-shadow-2xs: inset 0 1px rgb(0 0 0 / 0.05);
  --inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 0.05);
  --inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 0.05);

  --drop-shadow-xs: 0 1px 1px rgb(0 0 0 / 0.05);
  --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 0.15);
  --drop-shadow-md: 0 3px 3px rgb(0 0 0 / 0.12);
  --drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 0.15);
  --drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);
  --drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 0.15);

  --text-shadow-2xs: 0px 1px 0px rgb(0 0 0 / 0.15);
  --text-shadow-xs: 0px 1px 1px rgb(0 0 0 / 0.2);
  --text-shadow-sm: 0px 1px 0px rgb(0 0 0 / 0.075), 0px 1px 1px rgb(0 0 0 / 0.075), 0px 2px 2px rgb(0 0 0 / 0.075);
  --text-shadow-md: 0px 1px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.1), 0px 2px 4px rgb(0 0 0 / 0.1);
  --text-shadow-lg: 0px 1px 2px rgb(0 0 0 / 0.1), 0px 3px 2px rgb(0 0 0 / 0.1), 0px 4px 8px rgb(0 0 0 / 0.1);

  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;

  --perspective-dramatic: 100px;
  --perspective-near: 300px;
  --perspective-normal: 500px;
  --perspective-midrange: 800px;
  --perspective-distant: 1200px;
}
