name: Deploy

on:
  push:
    tags:
      - "spatial"

concurrency:
  group: deploy
  cancel-in-progress: false

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          command_timeout: 6h
          script: |
            set -e
            cd .spatial
            git pull

            docker compose -p spatial pull
            docker compose -p spatial up -d --build
            docker compose -p spatial restart nginx
