name: Release

on:
  push:
    branches:
      - "next"
    tags-ignore:
      - "*"

concurrency:
  group: release
  cancel-in-progress: false

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        name: Release
        with:
          config-file: release.json
          manifest-file: manifest.json
          target-branch: ${{ github.ref_name }}
          token: ${{ secrets.SPATIAL_USER }}
