name: Release

on:
  push:
    branches:
      - "main"
    tags-ignore:
      - "*"

concurrency:
  group: release
  cancel-in-progress: false

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Release
        id: release
        uses: googleapis/release-please-action@v4
        with:
          config-file: release.json
          manifest-file: manifest.json
          target-branch: main
          token: ${{ secrets.SPATIAL_USER }}

      - name: Deploy
        uses: appleboy/ssh-action@v1.2.2
        if: ${{ steps.release.outputs.releases_created == 'true' }}
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          command_timeout: 6h
          script: |
            set -e
            git pull

            docker compose -p spatial pull
            docker compose -p spatial up -d --build
            docker compose -p spatial restart nginx
